
body { font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f3bfea;}

header { 
    background: #8806a9; 
    color: rgb(9, 9, 9); 
    padding: 1rem; 
    text-align: center; 
}

main { 
    padding: 2rem; 
}

.search-section, .recommended, .wishlist, .review-section, .contact-section { 
    margin-bottom: 2rem; 
}

input, select, button, textarea { 
    margin: 0.5rem 0; 
    padding: 0.5rem; 
}

.book-list { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
}

.book-card { 
    background: rgb(201, 79, 203); 
    padding: 1rem; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(243, 8, 8, 0.1); 
    width: 200px; 
}

.book-card h4 { 
    margin: 0 0 0.5rem 0; 
}

.contact-section {
    background-color: rgb(201, 79, 203);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(244, 5, 5, 0.1);
}

h2{
    color: #000200;
}